<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>node.js課題①</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div>Node.js</div>
      <div>
        <a href="/login">Login</a>
        <a href="/">Register</a>
      </div>
    </header>
    <%- body %>
  </body>
</html>
