<div class="form-box">
  <div class="form-header"><%= page %></div>
  <table>
    <tbody>
      <tr>
        <td>E-Mail Address</td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td class="button">
          <button><%= page %></button
          ><a class="link" href="#">Forgot Your Password?</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
